---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { ContactSection } from "../sections/ContactSection";
import { HeaderSection } from "~/sections/HeaderSection";
import Image3 from "~/sections/image3";

---

<Layout title="Images">
  <HeaderSection />


  <div class="text-5xl text-center pb-12">Previous Events</div>
  <Image3 />
</Layout>
