---
import Layout from "../layouts/Layout.astro";
import HeaderSection from '~/sections/HeaderSection.astro';
import Image3 from "~/sections/image3";
import Logo from "~/sections/logo.astro";
import FooterSection from "~/sections/FooterSection.astro";
export const prerender = true;
---

<Layout title="Images">
  <Logo />

  <HeaderSection />


  <div class="text-5xl text-center pb-12">Previous Events</div>
  <Image3 />
  <div class="mt-32">

    <FooterSection />

  </div>

</Layout>
