---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { ContactSection } from '../sections/ContactSection';
import { HeaderSection } from '../sections/HeaderSection';

import UpcomingEvents from "~/sections/UpcomingEvents";
import FuckThisMarquee from "~/sections/FuckThisMarquee"; 
---

<Layout title=".">
    <HeaderSection />
    <div class="justify-self-center">
        <FuckThisMarquee client:only="react" />
        <UpcomingEvents />
        <div class="pt-50 pl-50 flex justify-center items-center">
            <button class="px-4 py-2 text-red-500 rounded">temp button - previous events redirect</button>
        </div>
    </div>
</Layout>
