---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

import UpcomingEvents from "~/sections/UpcomingEvents";
import FuckThisMarquee from "~/sections/FuckThisMarquee"; 
import Logo from '~/sections/logo.astro';
import HeaderSection from '~/sections/HeaderSection.astro';
import FooterSection from '~/sections/FooterSection.astro';
import MissionStatement from '~/sections/MissionStatement.astro';
import Button from '~/components/Button.astro';
---

<Layout title=".">
  <Logo />
  <HeaderSection />
  <div class="flex flex-col items-center gap-8 px-4 md:px-8 lg:px-16">
    <FuckThisMarquee client:only="react" />
    <UpcomingEvents />
    <div class="pt-6 md:pt-6 flex justify-center items-center">
        <Button 
        href="/events" 
        text="Previous Events" 
        customClass="px-4 py-2 rounded-lg"
      />
    </div>
  </div>
  <MissionStatement />
  <FooterSection />
</Layout>
