---
const { href = "#", text = "Click Me", customClass = "" } = Astro.props;
---

<a
  href={href}
  class={`px-10 py-3 bg-brightGreen rounded-lg text-white hover:bg-darkGreen font-semibold shadow-md transition duration-300 ${customClass} mb-6 `}
  target="_blank"
  rel="noopener noreferrer"
>
  {text}
</a>
