---
const { href = "#", text = "Click Me", customClass = "" } = Astro.props;
---

<a
  href={href}
  class={`px-10 py-3 bg-red-500 hover:bg-red-600 font-semibold rounded-lg shadow-md transition duration-300 ${customClass}`}
  target="_blank"
  rel="noopener noreferrer"
>
  {text}
</a>
