---
import "~/index.css";
import { contact } from "../constants";
const { email, instagramHandle, instagramUrl } = contact[0];
---

<div class="container mx-auto space-y-8 max-w-lg text-center">
  <h2 class="text-2xl font-bold mb-4">Contact Us</h2>
  <p class="text-white mb-4">
    For business inquiries, feel free to reach out to us via email or Instagram.
  </p>
  <div class="space-y-4">
    <div>
      <p class="text-lg font-bold">Email:</p>
      <a href={`mailto:${email}`} class="text-blue-600 underline">
        {email}
      </a>
    </div>
    <div>
      <p class="text-lg font-bold">Instagram:</p>
      <a
        href={instagramUrl}
        target="_blank"
        rel="noopener noreferrer"
        class="text-blue-600 underline"
      >
        @{instagramHandle}
      </a>
    </div>
  </div>
</div>
