---
import { socials } from "../constants";
import "~/index.css";
---

<footer class="text-white py-10">
  <div class="flex justify-center space-x-6 mb-6">
    {
      socials.map((social) => (
        <a
          href={social.url}
          target="_blank"
          rel="noopener noreferrer"
          class="flex items-center justify-center w-10 h-10 md:w-12 md:h-12 lg:w-14 lg:h-14 rounded-full hover:text-brightGreen transition"
          aria-label={social.title}
        >
          <img
            src={social.icon.src}
            alt={social.title}
            class="w-6 h-6 md:w-8 md:h-8 lg:w-10 lg:h-10"
          />
        </a>
      ))
    }
  </div>
</footer>
