<section class="bg-red-500 text-gray-800 my-12 px-4 md:py-16 md:px-8 lg:px-16">
    <div class="max-w-4xl mx-auto text-center">
      <h2 class="text-3xl md:text-4xl lg:text-5xl font-bold mb-6">
        Our Mission
      </h2>
      <p class="text-lg md:text-xl lg:text-2xl leading-relaxed">
        Our mission Statment Text
      </p>
    </div>
  </section>
  